Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 80
IndentWidth: 4
AllowShortFunctionsOnASingleLine: All
SpaceBeforeParens: Never
BreakAfterReturnType: None
IndentCaseBlocks: false
IndentCaseLabels: true
# IndentExportBlock: true
BreakConstructorInitializers: BeforeComma
IndentExternBlock: AfterExternBlock
NamespaceIndentation: All
UseTab: Never
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  IndentBraces: false
